$color-red: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);
$color-lightgreen: hsl(154, 64%, 55%);
$color-blue: hsl(248, 32%, 49%);
$color-darkblue: hsl(249, 10%, 26%);
$color-grayblue: hsl(246, 25%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
}

body {
  background: url('./images//bg-intro-desktop.png'), $color-red;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}

main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  height: 97%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.1);

  input {
    height: 45px;
    line-height: 45px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 0 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: $color-darkblue;

    &:focus {
      border: 2px solid $color-grayblue;
    }
  }

  small {
    color: $color-grayblue;
    text-align: center;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: $color-red;
  }
}

section {
  width: 50%;
  padding: 0 40px;

  div {
    background: $color-blue;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.1);

    p {
      line-height: 50px;
    }
  }
}

h1 {
  font-size: 3.5rem;
}

button {
  background: $color-green;
  height: 45px;
  line-height: 45px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 3px rgb(43, 175, 118);
  cursor: pointer;

  &:hover {
    background: $color-lightgreen;
  }
}

footer {
  height: 3%;
  text-align: center;

  a {
    color: #fff;
  }
}

@media only screen and (max-width: 872px) {
  body,
  footer,
  html {
    height: auto;
  }
  main {
    flex-direction: column;
  }
  section {
    width: 100%;

    p,
    h1 {
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      margin: 40px 0;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin-top: 50px;

      p {
        line-height: 20px;
        padding: 20px 0;
      }
    }
  }

  form {
    margin: 20px 0;
    padding: 20px;
  }

  footer {
    font-size: 12px;
    padding: 5px 0;
  }
}
